<!DOCTYPE html>
<html>
<head>
    <title>Fresh installation | Kryn.cms Administration</title>
    <base href="{{ baseUrl }}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="bundles/core/images/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {{ cssFiles }}
    <script type="text/javascript">
        window._path = window._baseUrl = "{{ baseUrl }}";
        window._pathAdmin = "{{ prefix }}";
    </script>
    {{ jsFiles }}
    <script type="text/javascript">
        window._session = {{ session|json_encode }};
    </script>
    <script type="text/javascript">

        window.addEvent('domready', function() {
            ka.adminInterface = new ka.AdminInterface();
        });

    </script>

</head>
<body>
</body>
</html>